@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
*{
   
    font-family:"Love Ya Like A Sister", serif; 
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: black;

}
a{
    text-decoration: none;
}
h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*HEADER*/
header
{   
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;   
}
.contenedor1
{
    
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.titulo
{
    font-size: 60px;
}

/* MAIN */
main
{
    padding: 5%;

}
.texto-introducion
{
    font-size: 20px;
    text-align: justify;
}
.contenedor2
{
    display: grid;
    align-items: center;
    border: 2px solid white;
    
   /* padding: 0px 10px 0px 10px;*/
    border-radius: 5px;
    margin-top: 50px;
  
    width: 450px;
}
.contenedor-principal
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
a
{
    display: flex;
    gap: 20px;
}
li
{
   
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.a-back
{
    height: 100px;
    width: 100px;
    text-decoration: none;

    font-size: 50px;

}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-temp
{
    border-bottom: 2px solid white;
}