@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Love Ya Like A Sister", serif;
}


:root {
    --main-color: #F3F9D2;
    --padding-p: 50px;
    --height-icon: 50px;
    --with-icon: 50px;
    --background-footer-header: #3D0B37;
    --auxiliar-oscuro: #63264A;
    --auxiliar-claro: #C0D684;
    --texto-blanco: white;
    --texto-negro: black;
    --font-size-p: 20px;
}

/*header*/


p {

    padding: var(--padding-p);
    text-align: justify;
    font-size: var(--font-size-p);



}






header {
    background-color: var(--background-footer-header);


    height: 211px;
    color: var(--texto-blanco);
    display: flex;
    align-items: center;
    gap: 20px;
}

/*main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}

/* Contenedor Lista */
.contenedorLista {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

    border-radius: 15px;
}

.list-header {
    height: 150px;
    width: 430px;
    background-color: var(--auxiliar-oscuro);
    border-radius: 15px 15px 0px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--texto-blanco);

}

.list-content {
    width: 430px;
    height: auto;

    border-radius: 0px 0px 15px 15px;
    background-color: var(--auxiliar-claro);
}


/* Lista */

.img-docu {
    width: var(--with-icon);
    height: var(--height-icon);
}

table {
    width: 50%;

    margin: 15px auto;
    border-collapse: collapse;
    text-align: justify;
   
    /* Centra el texto en cada celda */
}

/*footer*/
footer {
    width: 100%;
    height: 100px;
    background-color: var(--background-footer-header);

}

.contenedor3 {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.a-links {
    color: var(--texto-blanco);
    font-size: 20px;
    text-decoration: none;
}

.a-back {
    height: 100px;
    width: 100px;
    text-decoration: none;

    font-size: 50px;
}