@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
*
{
    
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Love Ya Like A Sister", serif; 
    
}
/*header*/


p
{
    
    padding: 15px;
    text-align: justify;
   
}
.titulo
{
    font-size: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
   

    
}
header
{
    background-image: url('./projecto1/img/4k_backgraund.jpg');
    background-size: cover; /* Cover the entire element */
    background-repeat: no-repeat;
    height: 350px; ;
    display: block;
    align-items: normal;
}
/*main*/
main
{
    background-color: black;
}


.cuerpo-lista
{

    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-lista
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contenedor-lista
{
    border: 1px solid white;
    width: 460px;
    display: grid;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 30px;
   
}
.img-docu
{
    height: 30px;
    width: 30px;
}
a{
    display: flex;
    
    gap: 20px;
    text-decoration: none;
    
}
.a-links,p{
    font-size: 20px;
}
li
{
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*footer*/
footer
{
   width: 100%;
   height: 100px;
  background-color: black;
    
}

.contenedor3
{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.aux-flex
{
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}