body
{
    background-color: black;
    color: white;
}
.codigo {
    word-wrap: break-word;
    background-color: red;
    word-break: keep-all;
    overflow-wrap: break-word;
   width: 80%;
    
  }